.message-dashboard .messange-list .mess .avatar-block{
    flex: 0 1 6%;
}

.message-dashboard .messange-list .mess .text-block-mess{

}

.messanger-block.message-dashboard .messange-list {
    height: inherit;
    overflow: initial;
}