.clint-filter-report .alert-status-find{
	
}

.clint-filter-report .alert-status-find input[type='checkbox']{
	position: absolute;
	opacity: 0;
	padding: 0;
	margin: 0;
}

.clint-filter-report .alert-status-find label{
	color: #54c1e5
}

.clint-filter-report .alert-status-find  input[type='checkbox']:checked ~ label{
	color:red;
}
