.message-dashboard .messange-list .mess .avatar-block{
    flex: 0 1 5%;
}

.message-dashboard .messange-list .mess .text-block-mess{
    flex: 0 1 94%;
    max-width: 94%;
}

.messanger-block.message-dashboard .messange-list {
    height: inherit;
    overflow: initial;
}