.starrequired{
    position: relative;
}

.starrequired:after{
    content: "*";
    position: absolute;
    right: -11px;
    top: 0px;
    color: red;
    font-size: 24px;
}

.has-error .form-control {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
}

